# Directories to ignore
data/
plink.GRCh37.map/
tmp/
output/
software/
**/logs/
**/logs_0.25/
**/logs_0.5/
**/logs_0.75/
**/archive/
extra_analysis/
**/regenerate_snp_lists/

# Files to ignore
*.log
*.err
*.pdf
*.vcf
submit_*.sh

